/* Rules for the unit are specified in the file central.css */

.menu{
		width: 38px;
		height: 38px;
		background-image: url(img/menubar.png);		
		position:relative;
		top:100px;
		left:19px;			
}
.icons {
		position:relative;
		top:200px;
		left:8px;				
}

