.is-hidden{
			display: none;
}
.is-active{
			display: block;
}
.menu__item__tier {		
			left:-19px;
			top:-101px;	
			max-width: 1024px;
			position:relative;
			z-index: 2;	/*Для Ghrome*/
			background-color: rgb(221,221,221);
			width: 1024px;
			height: 0px;				
}
.tier-container {
			
			box-shadow: 0 4px 2px rgba(0,0,0,0.25);/* Тень у блока*/
			background-color: rgb(221,221,221);
			position:relative;		
			padding: 30px 0 25px;		
			position:relative;
			overflow:hidden;
			margin:auto;
			border-left: 1px solid #fff;
			border-right: 1px solid rgba(0,0,0,0.2);
			vertical-align: top;			
}
.tier-sections {
			display: table;
			position: relative;
			border-left: 1px solid rgba(0,0,0,0.2);
			border-right: 1px solid #fff;
			vertical-align: top;
			margin-left: 16px;
			margin-right: 16px;
			overflow: hidden;			
}
.section {			
			display: table-cell;					
			width: 182px;
			padding: 0 15px;
			vertical-align: top;
			border-left: 1px solid #fff;
			border-right: 1px solid rgba(0,0,0,0.2);
}
.section__itemheader {
			box-sizing: border-box;/*Изменени алгоритма расчета ширины,высоты, чтобы входили padding,border */
			color: #333;
			font-family:'znikomitno24regular';
			/*font-style: normal;*/
 			font-weight: 700;
			font-size: 22px;
			position: relative;
			margin-bottom: 8px;
}
.section__list {
			display: block;
			color: #666;						
}
.point {
			font-family: Helvetica,Arial,sans-serif;
			font-size: 14px;
			line-height: 20px;
			margin: 4px 0;
			display: list-item;
			list-style: none;
}																																																																																																																																																																																																																																																	